@charset "UTF-8";
.archive {
    margin-top: 50px;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
}

ul {
    list-style-type: none;
}

/*文章分类*/
.archive-header {
    padding: .75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.archive-header span {
    font-size: 18px;
    /*bold约等于400， bolder 约等于700*/
    font-weight: bolder;
}

.archive-body {
    font-size: 16px;
}

/*li标签*/
.archive-item {
    padding: .75rem 1.25rem;
    border: 1px solid rgba(0,0,0,0.125);
}

.archive-item:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.archive-item span {
    float: right;
}

.archive-item a {
    color: #333333;
    display: block;
}