@charset "UTF-8";
.category {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
}

ul {
    list-style-type: none;
}

/*文章分类*/
.category-header {
    padding: .75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
}

.category-header span {
    font-size: 18px;
    /*bold约等于400， bolder 约等于700*/
    font-weight: bolder;
}

.category-body {
    font-size: 16px;
}

/*li标签*/
.category-item {
    padding: .75rem 1.25rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.category-item:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.category-item span {
    float: right;
}

.category-item a {
    color: #333333;
    /*cursor：光标*/
    cursor: pointer;
    /*设置点击li标签的时候也能跳转*/
    display: block;
}