.category {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

ul {
    list-style-type: none;
}

/*文章分类*/
.category-header {
    padding: .75rem 1.25rem;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.category-header span {
    font-size: 18px;
    /*bold约等于400， bolder 约等于700*/
    font-weight: bolder;
}

.category-body {
    font-size: 16px;
}

.category-item {
    padding: .75rem 1.25rem;
}
.category-item span{
    float: right;
}