#content-container {
    overflow: hidden;
    min-width: 1100px;
    margin-top: 100px;
    margin-left: 100px;
}

#article {
    width: 800px;
    min-height: 900px;
    float: left;
    border: 1px solid #cccccc;
}

#nav-bar {
    width: 200px;
    min-height: 900px;
    float: left;
    margin-left: 100px;
}

.article-content {
    line-height: 1.8em;
}

p {
    line-height: 1.75em;
    font-weight: 400;
    font-size: 16px;
    margin-top: 20px;
    /*text-indent: 2em;*/
    letter-spacing: 0.1em;
    text-align: justify;
}