#content {
    width: 1300px;
    min-height: 800px;
    margin: 50px auto;
}

.container-left {
    /*min-width: 1000px;*/
    width: 1200px;
    height: 500px;
    float: left;
}

.container-right {
    /*min-width: 200px;*/
    width: 200px;
    height: 600px;
    float: left;
}