#content {
    width: 1460px;
    min-height: 1500px;
    /*margin-top:因为导航栏设置了fixed属性，所以margin-top设置等于导航栏的高度*/
    margin-top: 80px;
    padding-top: 100px;
}

.container-left {
    width: 1237px;
    height: 500px;
    float: left;
    margin-right: 20px;
}

.container-right {
    width: 200px;
    height: 600px;
    float: left;
}