@charset "utf-8";
.page-wrapper {
    text-align: center;
}

/*翻页*/
.page-wrapper li {
    width: 60px;
    height: 60px;
    font-size: 18px;
    margin-left: 10px;
    display: inline-block;
    line-height: 60px;
    font-weight: 200;
    border: 1px solid #000;
}

.page-able li:hover {
    cursor: pointer;
    color: #9e8458;
    border: 1px solid #9e8458;
}

.page-able {
    text-decoration: none;
    color: #333333;
}

.page-disable li {
    color: #ccc;
    border: 1px solid #ccc;
}

.page-disable li:hover {
    color: #ccc;
    border: 1px solid #ccc;
}