@charset "UTF-8";
.search-bar form {
    width: 220px;
    position: relative;
    margin: 0 auto;
}

/*输入框*/
.search-bar input {
    width: 200px;
    height: 42px;
    border: 1px solid #000;
    background: #ffffff;
    color: #9E9C9C;
}

.search-bar button {
    height: 41px;
    width: 42px;
    border: 1px solid #000;
    cursor: pointer;
    background: #555;
    top: 0;
    right: 21px;
    position: absolute;
}

.search-bar button::before {
    /*显示搜索放大镜*/
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #ffffff;

}

.search-bar input, button {
    outline: none;
    font-size: 18px;
    color: #000;
}
