{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% block css %}
    <link href="{% static 'css/account/signup.css' %}" rel="stylesheet">
{% endblock %}
{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block content %}
    {#    遮罩层#}
    <div id="content-container">
        <div id="signup-main">
            <h1>注册账号{{ username }}
                <div class="alert alert-error">
                    <strong>{{ form.error}}</strong>
                </div>
            </h1>
            <div id="signup-form">
                <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <button id="btn-register" type="submit">注册</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
rror list