{% load static %}
<html>
<head>
    <title>{% block head_title %}{% endblock %}</title>
    <link href="{% static 'css/home/base.css' %}" rel="stylesheet">
    {% block extra_head %}
    {% endblock %}
</head>
<body>
<div id="header">

</div>
{% block container %}
    <div id="container">

    </div>
{% endblock %}
<div id="footer">
    <div id="footer-nav">
        <ul>
            <li>
                <a >Copyright ©2018-现在，Sweeneys的官方网站</a>
            </li>
            <li >
                <a href="https://www.aliyun.com/">托管于阿里云</a>
            </li>
            <li>
                <a  href="">粤ICP备19001222号-1</a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
