{% load static %}
<html>
<head>
    <title>{% block head_title %}{% endblock %}-覃新会的官方网站</title>
    <link href="{% static 'css/home/base.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    {% block extra_head %}{% endblock %}
</head>
<body>
<div class="banner">
    <div class="topnav">
        <ul>
            <li><a href="http://47.107.136.2:82/" target="_blank">新冠肺炎疫情图</a></li>
            <li><a href="/">首页</a></li>
            <li><a href="{% url 'blog:index' %}">文章</a></li>
            {% if  user.is_authenticated %}
                <li><a href="{% url 'account_logout' %}">退出</a></li>
            {% else %}
                <li><a href="{% url 'account_login' %}">登录</a></li>
                <li><a href="{% url 'account_signup' %}">注册</a></li>
            {% endif %}
        </ul>
    </div>
</div>

<div id="content">
    {% block content %}
    {% endblock %}
</div>
<div class="footer">
    <ul>
        <li>
            <a>Copyright ©2018-现在，覃新会的官方网站</a>
        </li>
        <li>
            <a href="https://www.aliyun.com/" target="_blank">托管于阿里云</a>
        </li>
        <li>
            <a href="http://beian.miit.gov.cn" target="_blank">粤ICP备19001222号-1</a>
            <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44030302001394" target="_blank">
                <img src="{% static 'images/home/beian.png' %}" alt="" style="width: 20px;height: 20px;">
                粤公网安备44030302001394号
            </a>
        </li>
    </ul>
</div>
</body>
</html>
