{% load static %}
<link rel="stylesheet" href="{% static 'css/comment/comment_form.css' %}">
{% csrf_token %}
<div id="comment">
    <hr/>
    <span id="cmt_form_title">发表评论</span>
    <textarea id="comment_content" cols="130" rows="10" maxlength="1000"></textarea>
    <div id="btn_wrapper">
        {% if user.is_authenticated %}
            <button type="button" id="cmt-btn" data-csrf_token="{{ csrf_token }}"
                    data-article-id="{{ article.id }}" data-ajax-url="{% url 'comment:add_comment' %}">
                评论
            </button>
        {% else %}
            <button type="button" id="cmt-btn" data-ajax-url="{% url 'comment:add_comment' %}">评论</button>
        {% endif %}
    </div>
</div>
{#<script src="{% static 'js/comment/comment.js' %}"></script>#}
<script>
    $("#cmt-btn").click(function () {
        var article_id = $(this).data('article-id');
        var content = $('#comment_content').val();
        var url = $(this).data('ajax-url');
        var csrf_token = "{{ csrf_token }}";

        /*csrf_token的传递*/
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        });
        $.ajax({
            type: 'post',
            url: url,
            data: {
                'article_id': article_id,
                'content': content,
            },
            dataType: 'json',
            success: function (data) {
                window.location.reload();
            },
            error: function (data) {
                console.log(data.msg)
            }
        });
    })
    ;
</script>