* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    font-family: "Microsoft YaHei", "宋体", Arial, Helvetica, sans-serif;
    color: #333;
    -webkit-text-size-adjust: none;
    height: 100%;
    /*设置最小宽度，页面缩小的时候样式保持不变*/
    min-width: 1280px;
    min-height: 1050px;
}

a {
    list-style: none;
    text-decoration: none;
}

.banner {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 80px;
    background-color: #000;
    z-index: 2;
}

.topnav {
    width: 100%;
    height: 80px;
    text-align: right;
    font-size: 20px;
}

.topnav li {
    width: 50px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin-right: 50px;
    display: inline-block;
}

.topnav li:hover {
    border-bottom: 1px solid #ffffff;
    cursor: pointer;
    transition: all 1s;
}

.topnav a {
    color: white;
}
#content {
    min-height: 900px;
}
.footer {
    width: 100%;
    height: 70px;
    background-color: #000;
    text-align: center;
}
.footer ul {
    height: 70px;
    list-style-type: none;
}

.footer a {
    font-size: 16px;
    text-decoration: none;
    color: white;
}


