{% load blog_tags %}
<div class="archive">
    <div class="archive-header">
        <span>文章归档</span>
    </div>
    <div class="archive-body">
        <ul>
            {% for date in date_list %}
                <li class="archive-item">
                    <a href="">
                        {{ date.year }} 年 {{ date.month }} 月
                        <span>{% get_archive_num date.year date.month %}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

