{% load static %}
{#<div class="article-wrapper">#}
{#  #}
{#</div>#}
{% for article in articles %}
    <div class="article-item">
        <div class="article-img">
            <a href="{{ article.get_absolute_url }}" target="_blank">
                <img src="{% static 'images/blog/article-bg.png' %}" alt="" class="">
            </a>
        </div>
        <div class="article-info">
            <h4 class="card-title"><a>{{ article.title }}</a></h4>
        </div>
    </div>
{% empty %}
    <div class="no-article"><p>暂时没有文章!</p></div>
{% endfor %}