{% load blog_tags %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/blog/category_list.css' %}">
{% endblock %}
<div class="category">
    <div class="category-header">
        <span>文章分类</span>
    </div>
    <div class="category-body">
        <ul>
            {% for cate in categories %}
                <li class="category-item">
                    <a href="{{ cate.get_absolute_url }}">
                        {{ cate.name }}
                        <span>{{ cate.total_num }}篇</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

