@charset "UTF-8";
#content {
    min-height: 980px;
    margin-top: 80px;
    background: #f5f6f7;
}

.msg {
    width: 1200px;
    height: 90%;
    margin: 16px auto 0;
    padding: 50px 0 0 0;
}

/*左边导航栏*/
.left_box {
    width: 200px;
    float: left;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    background-color: #fff;
}

.msg_item {
    height: 38px;
    width: 100%;
    line-height: 38px;
    font-size: 14px;
    color: #4d4d4d;
    padding-left: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 1px;
    position: relative;
}

.left_box .aside li .msg_a {
    color: #000;
    display: block;
}

.msg_item:hover {
    background: rgba(68, 181, 73, 0.3);
}

.aside .active {
    background-color: #2f9833;
}

.left_box .aside li.active .msg_a {
    color: #fff;
}

/*右侧导航栏*/
.right_box {
    position: relative;
    margin-left: 200px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    min-height: 520px
}
.btn_del_all {
    color: #ffffff;
    background-color: #28a745;
    border:none #28a745;
    padding: 6px 12px;
    display: block;
    font-weight: 400;
    font-size: 16px;
    float: right;
    outline: none;
}

.btn_del_all:hover {
    background-color: #218838;
    border-color: #1e7e34;
    cursor: pointer;
}