{% extends 'home/base.html' %}
{% load static %}
{% block head_title %}搜索{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/blog/search.css' %}">
{% endblock %}
{% load blog_tags %}

{% block content %}
    <div class="container">
        <div class="container-left">
            <!-- 文章列表 -->
            {% load_search_list articles %}
            <!-- 分页 -->
            {% if is_paginated %}{% load_pages %}{% endif %}
        </div>
        <!-- 分类、归档 -->
        <div class="container-right">
            <div class="get-search-box">
                {% get_search_box %}
            </div>
            <div class="get_category_list">
                {% get_category_list %}
            </div>
            <div class="get_archive_list">
                {% get_archive_list %}
            </div>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}